* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #D5E1EF;
}

.card {
    background-color: white;
    width: 19.5rem;
    margin: auto;
    padding: 16px 16px 40px 16px;
    border-radius: 22px;
    position: relative;
    top: 10rem;
    text-align: center;
}

.qr-img {
    border-radius: 12px;
}

.card h3 {
    color: #1A2943;
    font-size: 1.2em;
    padding: 20px 10px;
}

.card p {
    color: #7D848C;
    font-size: .9rem;
    padding: 0px 5px;
}