@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    margin: auto;
    padding: 16px 16px 40px 16px;
    border-radius: 22px;
    position: relative;
    top: 9.5rem;
    text-align: center;
    box-shadow: 10px 50px 100px #b5bec8;
}

.qr-img {
    border-radius: 12px;
}

.card h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px 10px;
}

.card p {
    color: hsl(220, 15%, 55%);
    font-size: .9rem;
    font-weight: 400;
    padding: 0px 5px;
}