* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #D5E1EF;
}

.card {
    background-color: white;
    width: 20rem;
    margin: auto;
    padding: 16px 16px 40px 16px;
    border-radius: 22px;
    position: relative;
    top: 9.5rem;
    text-align: center;
    box-shadow: 10px 50px 100px #b5bec8;
}

.qr-img {
    border-radius: 12px;
}

.card h1 {
    color: #1A2943;
    font-size: 1.2em;
    padding: 20px 10px;
}

.card p {
    color: #7D848C;
    font-size: .9rem;
    padding: 0px 5px;
}